body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #272727;
  background-color: #ffffff;
}
.container-fluid {
  padding-right: 14px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-muted {
  color: white !important;
  font-size: 15px;
}
.panel.panelHeader .panel-heading {
  background-color: #3B5998;
  padding: 0.5%;
  color: white;
  margin: -1px;
}
.panel.panelHeader .panel-heading .card-title {
  margin-bottom: 0px;
}
